html { height: 100%; }
body {
    overflow:hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6c8c7), color-stop(34%,#d0d4d5), color-stop(67%,#ececec), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c6c8c7 0%,#d0d4d5 34%,#ececec 67%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom,  #c6c8c7 0%,#d0d4d5 34%,#ececec 67%,#fefefe 100%); /* W3C */
}
.header { padding: 10px 60px; }
.appName {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 300;
    color: #efefef;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    width: 340px;
    display: inline-block;
}
.appName > span {
    font-weight: normal;
}
.appName > img {
    vertical-align: middle;
    margin-right: 20px;
    width: 56px;
}
.gridName {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    color: #efefef;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-size: 23px;
    display: block;
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
}
.gridsContainer {
    padding: 30px 0;
    text-align: center;
}
.paper {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    border-radius: 2px;
}
.paper-depth4 {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    border-radius: 2px;
}

.gridItemsRow { display: table; }
.gridItemContainer {
    display: table-cell;
    min-width: 330px;
    max-width: 527px;
    padding: 10px 15px;
    box-sizing: border-box;
}
.gridItem {
    width: 100%;
    text-align: left;
}
.gridItem_graph {
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 228px;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
}
.gridItemInfos {
    background: #f0f0f0;
    padding: 15px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.gridItem_pluginName {
    font-size: 18px;
    color: #555;
}
.gridItem_serverName { color: #999; }
#gridsContainer { padding: 20px 40px 0 40px; }
.fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.fullscreenCard {
    width: 497px;
    margin: -200px auto 0 auto;
    position: relative;
    top: 50%;
    background-color: #fff;
}
.fullscreenCard > img {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.card-icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #999;
    float: left;
    margin-right: 10px;
}
.card-icon > img {
    width: 35px;
    height: 35px;
    margin-top: 2px;
    margin-left: 3px;
}
.card-header { padding: 18px 16px; }
.card-pluginName {
    font-size: 18px;
    color: #555;
}
.card-serverName { color: #999; }

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#313942)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #000000 0%,#313942 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom,  #000000 0%,#313942 100%); /* W3C */
    color: #fff;
    font-weight: 100;
    font-size: 60px;
}
.preloader div {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    margin-top: -100px;
}
.preloader div img {
    vertical-align: middle;
    margin-bottom: 10px;
    margin-right: 20px;
}
.preloader span {
    font-weight: 300;
}
